@model Pizzeria.Models.Pizza

<p>@Model.Id </p><br/>
<img src="@Url.Content(Model.Foto)"  style="height:150px; width:150px;" />  <br />
<p>@Model.Nombre </br></p>
<p>@Model.Precio <br /></p>
<p>@Model.Ingrediente <br /></p>
<p>@Model.Comentario <br /></p>

